h2 {
  margin-top: 30px;
  margin-left: 50px;
}
.p1 {
  text-align: left; 
  text-align: justify;
  margin-top: 30px;
  margin-left: 180px;
}

.p2 {
  text-align: justify;
  margin-top: 60px;
  margin-left: 180px;
  margin-right: 50px;
}

.p3 {
  text-align: justify;
  margin-top: 60px;
  margin-left: 180px;
  margin-right: 50px;
}
.img-Photo1 {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 500px;
  width: 780px;
  background-size: cover;
  background-repeat: no-repeat;
}
.img-Photo1 {
  background-image: url("/public/Photo1.png");
}
