h2 {
  margin: 30px auto; /* centré horizontalement */
  text-align: center;
}

.box {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center; /* centre le form */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 800px; /* largeur max */
}

input,
textarea,
button {
  width: 100%; /* occupe toute la largeur dispo */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 200px; /* moins haut par défaut */
}

button {
  height: 50px;
  background-color: #58575b;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #6f7983;
}

/* Responsive ajustements */
@media (max-width: 600px) {
  textarea {
    height: 150px;
  }
}
