* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
}
section {
  width: 100%;
}

.categorie-container{
  width: 80%;
  margin: 0 auto;
}

.img-container {
width: 100%;
height: auto;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(auto-fill, 250px);
max-width: 800px;
gap: 10px;
justify-content: center;
}

.img-Où_Aller,
.img-2049,
.img-Scott
 {
  height: 360px; 
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
} 
.img-Où_Aller{
  background-image: url("/public/Où_Aller.png");
 }
 
.img-2049 {
  background-image: url("/public/2049.jpg");
}
.img-Scott {
  background-image: url("/public/Scott.jpg");
 }
