* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}
nav {
  width: 100vw;
  background-color: rgb(251, 251, 251);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
ul {
  margin: auto 0;
  display: flex;
  list-style: none;
  gap: 40px;
}
.trait{
  height: 23px;
  width: 1px;
  background-color: black;
}
